<h4 class = "navbar bg-black justify-content-center gap-5 fixed-top p-1  ">
    
        <a class = "nav-link d text-light fade show " href = "#">
            <img src="https://hybrismedianonprods1.blob.core.windows.net/sys-master-phoenix-images-container/h6c/h6b/9559620911134/razer-ths-logo.svg"  style="width:40px;">
            
            
        </a>
        <a class = "nav-link text-muted fs-6 " href = "#">PC</a>
        <a class = "nav-link text-muted fs-6 " href = "#">Console</a>
        <a class = "nav-link text-muted fs-6 " href = "#" >Mobile</a>
        <a class = "nav-link text-muted fs-6 " href = "#" >Lifestyle</a>
        <a class = "nav-link text-muted fs-6 " href = "#" >Services</a>
        <a class = "nav-link text-muted fs-6 " href = "#" >Community</a>
        <a class = "nav-link text-muted fs-6 " href = "#" >Support</a>
        
        <!--Button Search LOGO Instance-->
        <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"> <img src="https://www.freeiconspng.com/uploads/search-icon-png-18.png"  style="width:20px;"></button>
           
        <div class="offcanvas offcanvas-top bg-dark input-group " data-bs-scroll="true"  data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="width: 1100px; height: 60px; margin-left: 450px; margin-top: 2px; ">
           
            <div class="offcanvas-header ">
              <h5 class="fs-6 justify-content-center text-muted  " text id="offcanvasTopLabel  " style="word-spacing: 10px;">
               
                <nav class="navbar navbar-dark bg-dark " >
                    <form class=" fixed-top" style="margin-left: 475px; margin-top: 12px;">
                      <div class="input-group  " style = "width: 1000px; ">
                        <span class="input-group-text bg-dark " id="basic-addon1"></span>
                        <input type="text" class="form-control bg-dark text-muted " placeholder="Search Razer.com" aria-label="Username" aria-describedby="basic-addon1">
                       

                      </div>
                       <button type="button" class="btn-close btn-close-white text-reset fixed-top " style = "margin-left: 1500px; margin-top: 15px; " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </form>
                  </nav>
                
               </h5>
               
            </div>
       
        </div>

        <!--Button Cart LOGO Instance-->
        <div class="dropdown ">
            <button class="btn  " type="button" id="ShoppingCart" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://images.vexels.com/media/users/3/132104/isolated/preview/5f2ebb95984bf47ea01319291eb81f68-icono-de-silueta-de-carrito-de-compras-by-vexels.png"
                style="width:30px;">
            </button>
            <ul class="dropdown-menu border-secondary bg-dark dropdown-menu-end me-4 ps-3 pe-3 " aria-labelledby="ShoppingCart" >
               
                <li class = " pt-3 pb-3 ms-5 text-muted" ><div class = "text-dark">------------------------------------</div>Your Cart Is empty<div class = "text-dark">------------------------------------</div></li>
                <li class="text-white"><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-light" href="#"><img src="https://images.vexels.com/media/users/3/132104/isolated/preview/5f2ebb95984bf47ea01319291eb81f68-icono-de-silueta-de-carrito-de-compras-by-vexels.png"
                style="width:30px;"> Cart</a></li>
                <li class="text-white"><hr class="dropdown-divider"></li>
                <li ><a class="dropdown-item text-light" href="#"><img src="https://cdn0.iconfinder.com/data/icons/gray-business-toolbar/512/todo_list-256.png"  style="width:30px;"> Orders</a></li>
                <li class="text-white"><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-light" href="#"><img src="https://www.logolynx.com/images/logolynx/03/039b004617d1ef43cf1769aae45d6ea2.png"  style="width:30px;"> Account</a></li>
                <li class="text-white"><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-light" href="#"><img src="https://webstockreview.net/images/clipart-arrows-grey-17.png"  style="width:30px;"> Log In</a></li>
                
            </ul>
          </div>
        
        
</h4>

<h4 class = "navbar justify-content-center bg-secondary pt-5 mt-4 mb-0">
    <div class =" text-light fade show fs-6">Intel Gamer Days: Enjoy exclusive offerings & game bundles with selected Razer Blades.</div>
    <a class = "nav-link d text-light fade show fs-6  " href = "#" target = "_self"> Shop Now ></a>
    
</h4>

<body class = "bg-dark ">
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
   <li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li><li>a</li>
