<AnimatedNavbar>Loading</AnimatedNavbar>

<body class = "bg-dark" style = "min-height: 1080px; margin-top: -8px;">

    <ShortCard>Loading</ShortCard>
    
    <div
    class="bg-image"
    style="
    background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
    height:72vh;
    background-repeat: no-repeat;
    border-bottom: lawngreen solid 2px;
    "
    >
    
    
      <div class = "text-center background-image"> 
        
                <p class=" text-white above pt-5">
                    RAZER WOLVERINE V2 CHROMA
                </p>
                 <p>
                <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                    Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
                </p>
                
               
                <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                    <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                        {{LM}} <span class = "">{{Misc}}</span>
                    </a> 
                </p> 
        </div> 
</div>

<div
class="bg-image"
style="
background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
height:72vh;
background-repeat: no-repeat;
border-bottom: lawngreen solid 2px;
"
>


  <div class = "text-center background-image"> 
    
            <p class=" text-white above pt-5">
                RAZER WOLVERINE V2 CHROMA
            </p>
             <p>
            <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
            </p>
            
           
            <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                    {{LM}} <span class = "">{{Misc}}</span>
                </a> 
            </p> 
    </div> 
</div>

<div
class="bg-image"
style="
background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
height:72vh;
background-repeat: no-repeat;
border-bottom: lawngreen solid 2px;
"
>
  <div class = "text-center background-image"> 
    
            <p class=" text-white above pt-5">
                RAZER WOLVERINE V2 CHROMA
            </p>
             <p>
            <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
            </p>
            
           
            <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                    {{LM}} <span class = "">{{Misc}}</span>
                </a> 
            </p> 
    </div> 
</div>

<ShortCard>Loading</ShortCard>
<ShortCard>Loading</ShortCard>
<ShortCard>Loading</ShortCard>

<div
class="bg-image"
style="
background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
height:72vh;
background-repeat: no-repeat;
border-bottom: lawngreen solid 2px;
"
>
  <div class = "text-center background-image"> 
    
            <p class=" text-white above pt-5">
                RAZER WOLVERINE V2 CHROMA
            </p>
             <p>
            <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
            </p>
            
           
            <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                    {{LM}} <span class = "">{{Misc}}</span>
                </a> 
            </p> 
    </div> 
</div>
<div
class="bg-image"
style="
background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
height:72vh;
background-repeat: no-repeat;
border-bottom: lawngreen solid 2px;
"
>
  <div class = "text-center background-image"> 
    
            <p class=" text-white above pt-5">
                RAZER WOLVERINE V2 CHROMA
            </p>
             <p>
            <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
            </p>
            
           
            <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                    {{LM}} <span class = "">{{Misc}}</span>
                </a> 
            </p> 
    </div> 
</div>
<div
class="bg-image"
style="
background-image: url('https://assets2.razerzone.com/images/pnx.assets/cb2f1985a8862ba17b8a688bcb3bd97b/razer-wolverine-v2-chroma_hero.jpg');
height:72vh;
background-repeat: no-repeat;
border-bottom: lawngreen solid 2px;
"
>
  <div class = "text-center background-image"> 
    
            <p class=" text-white above pt-5">
                RAZER WOLVERINE V2 CHROMA
            </p>
             <p>
            <p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                Fully Customizable Xbox Series X|S, Xbox One, and PC Controller
            </p>
            
           
            <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                <a  href="#" class = "hover-underline-animation  "  style="color: lime;">
                    {{LM}} <span class = "">{{Misc}}</span>
                </a> 
            </p> 
    </div> 
</div>
</body>