<body >
    <div class = "card" style = " background-color: rgb(27, 27, 27);">
        <div class = "p-5 ps-5 pe-5">
            <p class = "text-success text-center" style = "font-size: xx-large;">CONSOLE</p>
            <p class = "text-muted text-center fs-5">Wether you're a PlayStation die-hard, an xbox fanboy, or anything in between, expierence true console supremacy as </p>
            <p class = "text-muted text-center fs-5">you dominate with our controllers and headsets.</p>
        </div>
    </div>
</body>