<AnimatedNavbar></AnimatedNavbar>
<div style = "margin-top: -10px;">
<body class = "bg-dark" style = "min-height: 1080px;">
    <div class = ""><!--dec-->
        <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
            <div class = "flex-row "><!--col-->
                <div *ngFor= "let cardx of myCards;">
                    <TopCards title = {{cardx.title}} description = {{cardx.description}} imagePath = {{cardx.imagePath}} description2 = "">Loading</TopCards>
                    </div>
                
            </div><!--end row-->
        </div><!--end col-->
    </div>
</body>
</div>