<AnimatedNavbar></AnimatedNavbar>
<div style = "margin-top: -10px;">
<body class = "bg-dark" style = "min-height: 1080px;">
    <div class = ""><!--dec-->
        <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
            <div class = "flex-row "><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>    
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row "><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>    
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row "><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>    
            </div>
            
        </div><!--end col-->
    </div>
</body>
</div>