<div class="col-md-auto">
    <div class="card" style="width: 24rem;  background-color: rgb(27, 27, 27); border-bottom: lawngreen solid 1px;">
        <img class="card-img-top" style= "height: 325px;" src="https://assets3.razerzone.com/_5SCDe3ECp_gBrI2xoLq1ocgOBE=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh26%2Fha9%2F9090918449182%2Frazer-tomahawk-a1-1500x1000_0.jpg" >
        <div class="card-body" style = " font-size: smaller;"> 
          <h5 class="card-title text-white" style="font-weight: 200;">LAPTOPS</h5>
          <p class="card-text text-muted">Sleek high-performance gaming laptops</p>
          <a href="#" class="btn " style = "color: lawngreen;">Learn More > </a>
        </div>
      </div>
  </div>