<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>      


<body class = "bg-dark" style = "min-height: 1080px;">

    <div class="bg-image" style="
    background-image: url('https://wallpaperaccess.com/full/2586833.jpg');
    height: 45vh;
    
    background-repeat: no-repeat;
    "
    >
    
    
      <div class = "text-center background-image"> 
        
                <a href = "#"><p class=" text-white above mt-5">
                    {{Intel}}
                </p></a>
                 <p>
                <a href="#"><p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                    GAMES AND SAVINGS ON SELECT RAZER BLADES
                </p>
                 </a> 
                </p>
                <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                    <a  href="#" class = "hover-underline-animation text-white ">
                        {{LM}} <span class = "" style="color: lime;">
                        {{Misc}}
                        </span>
                    </a> 
                </p>
        </div> 
</div>

<h3 class = "navbar-expand-lg justify-content-center text-white gap-5 navbar pt-5 pb-4" style = "background-color: rgb(37, 37, 37);" >

    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:50px;" src = "https://www.playpennies.com/vfiles/3176-7ad58a115da965a868a43efdad4be0b8.png"><p class = "text-center pt-2" style = "font-size: small;">PC</p></a>
    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:38px;" src = "https://i.imgur.com/hAgKgiP.png"><p class = "text-center pt-2" style = "font-size: small;">Console</p></a>
    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:50px;" src = "https://i.imgur.com/aDRz2Gp.png"><p class = "text-center pt-2" style = "font-size: small;">Mobile</p></a>
    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:50px;" src = "https://www.playpennies.com/vfiles/3176-7ad58a115da965a868a43efdad4be0b8.png"><p class = "text-center pt-2" style = "font-size: small;">Lifestyle</p></a>
    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:38px;" src = "https://i.imgur.com/hAgKgiP.png"><p class = "text-center pt-2" style = "font-size: small;">Services</p></a>
    <a href = "#"  data-aos="fade-left" data-aos-duration="3000" class = "navlink hover-text-white"><img style = " width:50px;" src = "https://i.imgur.com/aDRz2Gp.png"><p class = "text-center pt-2" style = "font-size: small;">Replacement Parts</p></a>

</h3>


</body>