<body class = "bg-dark " style = "padding-bottom: 0px;" >
  <div class = "d-flex ">
    <div class = "flex-row justify-content-center ">
      <a href="#"><p class="text-white " >
      {{Intel}}
   </p>
  </a>

      <a href="#"><p class="text-white justify-content-center" style="
        margin-left: 600px; 
        margin-top: -25px; 
        font-size: 25px;
        font-weight: lighter;
        ">
           GAMES AND SAVINGS ON SELECT RAZER BLADES
        </p>
    </a> 
    
    <p class="text-white " style="
         
         
        margin-top: 7%; 
        font-size: 20px;
        font-weight: lighter;
        margin-right: 800px;
        margin-left: 45%;
        
        "><a  href="#" class = "hover-underline-animation text-white ">
         {{LM}} <span class = "" style="color: lime;">
              {{Misc}}
            </span>
        </a> 
    </p>
    

   
    <a href="#"> 
    <div class="bg-image text-white " style="
      background-image: url('https://i.imgur.com/FsjcxbR.jpg');
      height: 90vh; 
      
      margin: -18% 0;  
      background-repeat: no-repeat;
      
      ">
    </div>
   </a>
  </div><!--flex row-->
</div><!--Flex-->

   <Cards>Loading</Cards>

  

<!--row 2-->
  <div class = "d-flex ">
    <div class = "flex-row justify-content-center ">
      <a href="#"> 
        <div class="bg-image text-white " style="
        
          background-image: url('https://i.imgur.com/JUj4C3I.jpg');
          height: 84vh; 
          margin-top: 358px;  
          background-repeat: no-repeat;
          width:1902px;
          
          ">
        </div>
      </a>


      <a href="#"><p class="text-white " style="
       
        margin-left: 600px;
        margin-right: -20%; 
        margin-top: -40%; 
        ">
            
            {{RIG}}
            
        </p>
      </a>
      
      <a href="#"><p class="text-white" style="
        
        margin-left: 810px; 
        margin-top: -36.5%; 
        font-size: 25px;
        font-weight: lighter;
        
        
        
        ">
          AVAILABLE IN FABRIC & XL
        </p>
      </a> 

      <p class="text-white" style="
       
        margin-left: 870px; 
        margin-top: -34%; 
        font-size: 20px;
        font-weight: lighter;
        
       
          
        ">
        <a  href="#" class = "hover-underline-animation text-white ">
          {{LM}} <span class = "" style="color: lime; ">
            {{Misc}}
            </span>
        </a> 





        <a  href="#" class = "hover-underline-animation text-white  " style="
        
        text-shadow: 5px -1px 0 rgb(70, 69, 69);
        margin-left: 25px;
        
        ">
          {{B}} 
          
          <span class = "" style="color: lime;">
            
            {{Misc}}
            
            </span>
        </a> 
      </p>

  </div>
</div>  




<!--row 3-->
<div class = "d-flex ">
  <div class = "flex-row justify-content-center ">
    <a href="#"> 
      <div class="bg-image text-white " style="
      
        background-image: url('https://i.imgur.com/PutKhkS.jpg');
        height: 80vh;
        margin-top: 10px; 
        padding-bottom: 780px;
        background-repeat: no-repeat;
        background-size: 1920px;
      

        ">
      </div>
    </a>

    <a href="#"><p class="text-white " style="
      margin-left: 725px;
      margin-right: -20%; 
      margin-top: -40%; 
      ">
        RAZERSTORE LIVE
          
      </p>
    </a>
    
    <a href="#"><p class="text-white" style="
     
      margin-left: 650px; 
      margin-top: -36.5%; 
      font-size: 25px;
      font-weight: lighter;
      ">
        WIN THE GRAND RAFFLE & EXCLUSIVE PRODUCTS
      </p>
    </a> 

    <p class="text-white" style="
      
      margin-left: 900px; 
      margin-top: -34%; 
      font-size: 20px;
      font-weight: lighter;

        
      ">
      <a  href="#" class = "hover-underline-animation text-white ">
        Sign up Now <span class = "" style="color: lime; ">
            {{Misc}}
          </span>
      </a> 
  </div>
</div>


</body>
