
<AnimatedNavbar></AnimatedNavbar>
<body class = "bg-dark pb-1" style = "min-height: 1080px; margin-top: -8px;">
    
    <div class = ""><!--dec-->
        <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
            <div class = "flex-row " style = "border-bottom:lawngreen solid 1px;"><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row text-black text-center pt-4 pb-4 bg-success"><!--col-->

                <p class = "pt-5" >Welcome to the Razer Community – where millions of gamers connect to get our latest news, take part in</p>
                <p style = "margin-top: -12px;">giveaways, and interact with us be it live on stream, or through our posts.</p>
               
                <p class = "pt-4">Have an awesome Razer setup you’d like to show us? Drawn a cool piece of fanart? Drop us a message or tag us</p>
                <p class = "pb-5"style = "margin-top: -12px;">@Razer on our social pages. You might just get featured and be rewarded with cool Razer swag.</p>
               
               
                
            </div><!--end row-->
            <div class = "flex-row " style = "border-bottom:lawngreen solid 1px;"><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row " style = "border-bottom:lawngreen solid 1px;"><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row " style = "border-bottom:lawngreen solid 1px;"><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
           
        </div><!--end col-->
    </div>
    
    <div class = ""><!--dec-->
    
        <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
            <div class = "flex-column mt-3 me-1"><!--col-->
               <Grid>Loading</Grid>
                
            </div>
            <div class = "flex-column mt-3 ms-1">
                <Grid>Loading</Grid>
            </div>
        </div><!--end row-->
        
        <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
            <div class = "flex-column mt-3 me-1"><!--col-->
                <Grid>Loading</Grid>
                
            </div>
            <div class = "flex-column mt-3 ms-1">
                <Grid>Loading</Grid>
                
            </div>
        </div><!--end row-->
    </div>

    <ShortCard></ShortCard>
    <ShortCard></ShortCard>
    <ShortCard></ShortCard>


</body>