


<div class = ""><!--dec-->
    <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
        <div class = "flex-row "><!--col-->
            <TopCards>Loading</TopCards>
            
        </div><!--end row-->
        <div class = "flex-row mt-2">
            <TopCards>Loading</TopCards>    
        </div>
        <div class = "flex-row mt-2">
            <TopCards>Loading</TopCards>  
        </div>
    </div><!--end col-->
</div>

<Cards></Cards>

<div class = ""><!--dec-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
           <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
        </div>
    </div><!--end row-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
            <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
            
        </div>
    </div><!--end row-->
  
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
            <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid >Loading</Grid>

        </div>
    </div><!--end row-->



</div>
