

<NotificationNavBar>Loading</NotificationNavBar>
<div *ngIf= "myCards == undefined">Failed Fetching User Info</div>

<div *ngIf = "myCards != undefined">
<div class = ""><!--dec-->
    <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
        <div class = "flex-row "><!--col-->

        <div *ngFor= "let cardx of myCards;">
            <TopCards title = {{cardx.title}} description = {{cardx.description}} imagePath = {{cardx.imagePath}}>Loading</TopCards>
         </div>

        </div><!--end row-->
       
    </div><!--end col-->
</div>
</div>

<Cards></Cards>

<div class = ""><!--dec-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
           <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
        </div>
    </div><!--end row-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
            <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
            
        </div>
    </div><!--end row-->
  
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
            <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid >Loading</Grid>

        </div>
    </div><!--end row-->
</div>
