<AnimatedNavbar></AnimatedNavbar>

<body class = "bg-dark pb-1" style = "min-height: 1080px; margin-top: -8px;">

    <ShortCard style = "max-height: 600px;"></ShortCard>
    <div class = ""><!--dec-->
        <div class = "d-flex flex-column bd-higlight bg-dark"><!--row-->
            <div class = "flex-row "><!--col-->
                <TopCards>Loading</TopCards>
                
            </div><!--end row-->
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>    
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
            <div class = "flex-row mt-2">
                <TopCards>Loading</TopCards>  
            </div>
        </div><!--end col-->
    </div>
    


</body>