<AnimatedNavbar>Loading</AnimatedNavbar>

<body class = "bg-dark pb-1" style = "min-height: 1080px; margin-top: -8px;">

<ShortCard style = "max-height: 600px;"></ShortCard>

<div class="container pt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
    </div>
  </div>
  <ShortCard></ShortCard>

  <div class = ""><!--dec-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
           <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
        </div>
    </div><!--end row-->
    
    <div class = "d-flex flex-row bd-higlight bg-dark"><!--row-->
        <div class = "flex-column mt-3 me-1"><!--col-->
            <Grid>Loading</Grid>
            
        </div>
        <div class = "flex-column mt-3 ms-1">
            <Grid>Loading</Grid>
            
        </div>
    </div><!--end row-->
  



</div>
<div class = "pt-4 pb-4">
    <ShortCard></ShortCard>
</div>

<div class="container pt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
    </div>
  </div>
  <div class="container pt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
      <div class="col-md-auto">
        <LongCards></LongCards>
      </div>
    </div>
  </div>



</body>