

<div
class="bg-image mb-2"
style=" height: 80vh;
    background-image: url('{{imagePath}}');
    background-repeat:no-repeat;
    
"
    

>
    
    
      <div class = "text-center background-image"> 
        
                <a href = "#"><p class="text-white above mt-5">
                    {{title}}
                </p></a>
                 <p>
                <a href="#"><p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                    {{description}}
                </p>
                 </a> 
                </p>
                <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                    <a  href="#" class = "hover-underline-animation text-white ">
                        {{LM}} <span class = "" style="color: lime;">
                        {{Misc}}
                        </span>
                    </a> 
                </p>
        </div> 
</div>
