

<div
class="bg-image"
style="
  background-image: url('https://i.imgur.com/FsjcxbR.jpg');
  height: 85vh;
  background-repeat: no-repeat;
"
>
    
    
      <div class = "text-center background-image"> 
        
                <a href = "#"><p class=" text-white above mt-5">
                    {{Intel}}
                </p></a>
                 <p>
                <a href="#"><p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                    GAMES AND SAVINGS ON SELECT RAZER BLADES
                </p>
                 </a> 
                </p>
                <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                    <a  href="#" class = "hover-underline-animation text-white ">
                        {{LM}} <span class = "" style="color: lime;">
                        {{Misc}}
                        </span>
                    </a> 
                </p>
                
        </div> 
        
    

</div>
